*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}
/* header and navigation style */
.header{
    background:  #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position:  right bottom, left;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    height: 64px;
    color: white;
    border-radius: 5px;
    border: 0;
    padding: 18px 35px;
    background-color: #FD6E0A;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav li{
    list-style: none;
    margin: 50px;
}
nav ul{
    display: flex;
    align-items: center;
}

/* banner */
.banner{
    align-items: center;
    display: flex;
    margin: 0 200px;
}
.banner-title{
    font-weight: 700;
    font-size: 85px;
}
.banner-sub-title{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}
.banner-description{
    font-weight: 400;
    font-size: 18px;
    color:  #757575;;
}
/* main section */
main{
    max-width: 1140px;
    margin: 0 auto;
}
section{
    text-align: center;
    margin-top: 130px;
    background-color:  #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
}

/* about section */

.section-title{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 50px ;
}

.section-description{
    color: #757575;
}

.about-info-container{
    justify-content: space-around;
    display: flex;
}
.about-info-container .info-title{
    font-size: 20px;
    color: #757575;
}
.info-desctiption{
    font-size: 20px;
    color: #757575;
}

/* what i do */
.what-i-do{
  
}

.skills-container{
    display: flex;
    gap: 24px;

}
.skill{
    background: #ffffff;
    padding: 30px;
    box-shadow: 0px 6px 50px rgba(rgba(0, 0, 0, 0.06));
    border-radius: 5px;
}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    color: #181818;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-description{
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}    
/* resume styles */
.resume-content{
    display: flex;
    text-align: left;
    gap: 24px;
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;   
}
.resume .title{
    color: #474747;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;
}
.resume .sub-title{
    color: #757575;
    font-weight: 600;
    font-size: 20px;
}
.resume .description{
    color: #757575;
}
.resume-btn{
    margin-top: 5ppx;
    text-align: center;
}

/* contact section  */
.contact{
    background: #FFF8F3;
    display: flex;
    gap: 100px;
    text-align: left;
    padding: 130px 200px;
    
}
.contact .section-title{
    text-align: left;
}

.contact input[type="text"], input[type="email"], textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px ;
}
input{
    height: 64px;
}
.contact{
    text-decoration: none;
}