*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}
/* header and navigation style */
.header{
    background:  #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position:  right bottom, left;

}

nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

.text-primary{
    color: #FD6E0A;
}

.btn-primary{
    height: 64px;
    color: white;
    border-radius: 5px;
    border: 0;
    padding: 18px 35px;
    background-color: #FD6E0A;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav li{
    list-style: none;
    margin: 50px;
}

nav ul{
    display: flex;
    align-items: center;
}

/* banner */
.banner{
    align-items: center;
    display: flex;
    margin: 0 200px;
}
.banner-title{
    font-weight: 700;
    font-size: 85px;
}
.banner-sub-title{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}
.banner-description{
    font-weight: 400;
    font-size: 18px;
    color:  #757575;;
}
/* main section */
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* about section */

.about{
    text-align: center;
    margin-top: 130px;
    background-color:  #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
}

.section-title{

    margin-bottom: 30px ;
}

.section-description{
    color: #757575;
    padding-bottom: 30px;

}
.about-table-head{
    margin: 50px;
    color: red;
}

.about-info-container{
    justify-content: space-around;
    display: flex;
}
.about-info-container .info-title{
    font-size: 20px;
    color: #757575;
}
.info-desctiption{
    font-size: 20px;
    color: #757575;
}